body {
  font-family: 'Helvetica';
  margin: 0%;
  padding: 0%;
}

header {
  text-align: center;
  font-size: 22px;
}

main {
  width: 800px;
  margin: 0 auto;
}

.sign-in-form {
  padding: 13px;
  height: 348px;
  border: 1px solid;
  border-color: black;
  
}

.sign-in-form h2 {
  text-align: center;
}

.sign-in-form form {
  margin: -5px 0;
  
}
.sign-in-form p {
  width: 95%;
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-color: black;
}
.sign-in-form input {
  width: 92%;
  padding: 25px;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-color: black;
}

.sign-in-form button {
  background-color: white;
  color: #black;
  padding: 24px;
  margin-top: 33px;
  margin-left: 5px;
  border: 1px solid #ccc;
  width: 98.7%;
  border-color: black;
  font-family: "Helvetica";
  font-size: 22px;
}
.blank-space {
  width: 100px; 
  height: 100px; 
  margin-bottom: 5px;
  margin-top: 5px;
}
.footer-wrapper {
  background-color: #black;
  color: black;
  padding: -50px 0;
  margin: 0;
    }
.footer {
  border-top: 1px solid black;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
    }
p{
  margin-bottom: -5px 0;
  font-size: 20px;	
}